*
!*.gitignore
!GNUmakefile
!*Makefile.am
!acsite.m4
!collect.mk
!common.mk
!configure.ac
!*.sh
!*.h
!*.hpp
!*.cpp
!*/
!*.proto
!*.cc
!*.py
!*.cfg
!*.inl
!*sql
!*CMakeLists.txt
!*.utf8
!Dockerfile
.ycm_extra_conf.py
tags
build
